.django-message {
    max-width: fit-content;
    margin: auto;
    position: fixed;
    top: 75px;
    left: 0;
    right: 0;
}

noscript {
    position: fixed;
    margin: auto;
    width: 100%;
    text-align: center;
    font-weight: bold;
}